body{
font-family:'Istok Web', arial;
max-width: 960px;
margin: 0 auto;
padding: 0;
background-image:url('../images/bg_global.jpg');
background-color:rgb(255,255,255);
background-repeat:repeat-x;
}

#site{
width: 100%;
margin: 0 auto;
overflow: hidden;
}

h1{
float:left;
font-size: 200%;
}

h2{
clear:both;
padding: 0.005208333333333%;
font-size: 150%;
}

ul li{
background: rgb(238, 238, 224);
display: inline;
border-width: 2px;
border-style: solid;
border: 2px solid rgb(25,25,112);
border-radius: 10px;
padding: 0.35%;
float: right;
}

a:hover{
color: rgb(139, 139, 131);
border-bottom: none;
}

h1, h2{
text-shadow: 1px 1px 1px #666
}

h1, h2, h3, h4, h5, h6{
	margin:0;
	padding: 0.25%; 	
}

h3, h4, h5, h6{
	font-size:125%;
}

p{
font-size: 87.5%;
}

#main{
background-color: rgba(135, 206, 250, 0.35);
border: 1px solid rgb(25,25,112);
-ms-column-count: 3;
-moz-column-count: 3;
-webkit-column-count: 3;
-o-column-count: 3;
-khtml-column-count: 3;
float: left;
padding: 0.25%; 
text-align: left;
}

img{
	border: 2.5px solid #333;
	float: right;
	margin:0;
	padding: 0.005208333333333%;
	max-width:100%;
}

#stew{
	width:31.25%;
	float: right;
	margin:0;
	padding: 0.005208333333333%;
	max-width:100%;
}

ol li{
font-size: 87.5%;
}

#photos li{
display: inline;
float: right;
width: 23.9583333333333%;
margin:0;
background: none;
border-width: 0;
border-style: none;
border: 0;
border-radius: 0;
padding:0.25%;
max-width:100%;
}

#labels li{
display: inline;
float: right;
width: 23.25%;
margin: 0;
background: none;
border-width: 0;
border-style: none;
border: 0;
border-radius: 0;
padding: 0.1%;
}

#order{
clear: both;
}

/* =Media Queries  */

/* Tablet Portrait size to standard 960 */
@media screen and (min-width: 768px) and (max-width:959px){
	#site{ background-color: rgb(0,191,255) }
	h1{width:50%;}
	#nav {float:left}
	#main{width:75%}
}

/* Mobile Landscape size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width:767px){
	#site{ background-color: rgb(211,211,211) }
	h1{width:40%;}
	#nav {float:left}
	#photos {padding:0.10%}
	#stew{width:50%}
}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width:479px){
	#site{ background-color: rgb(244,238,224) }
	h1{width:30%;}
	#nav {float:left}
	#stew {display: none;}
	#photos {display:none;}
	#labels {display:block; float:left;}
}
